# Local OS files
.DS_Store

# Local .terraform directories
**/.terraform/*

**/.terraform.lock.*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
*.tfvars
*.tfvars.tpl

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

backend*.hcl
backend-dr.hcl
backend.tf

# This files are not supposed to upload
## variables file to edit TFC
pyvars.txt
## Templates files generated locally
**/vault.yaml
**/jx-requirements-*.yml
**/tfe_vars.sh

vault-init.log
